* {
    margin: 0;
    padding: 0;
    }

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

a{
    color: aquamarine;
}

H1{
    font-size: 3.125rem;
}

H2{
    font-size: 2.625rem;
    font-weight: 300;
    margin: 2rem;
}

H3{
    font-size: 1.3125rem;
    color:gray;
    font-weight: normal;
}

section{
    margin: 2rem;
}

#app-video{
    margin: 2rem;

}

figure{
    margin: 2rem;
}

footer{
    text-align: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: gray;
}